In [9]:
import numpy as np
import pandas as pd
import os


os.getcwd()
root_dir = os.path.dirname(os.getcwd())
root_dir
data_dir = os.path.join(root_dir, 'Data_set')
data_dir
data_set = os.path.join(data_dir, 'sales Data.csv')
data_set

print("root_dir: ", root_dir)
print("data_dir: ", data_dir)    
print("data_set: ", data_set)


sales_data =pd.read_csv(data_set)
sales_data.head(100)

root_dir:  c:\Users\tareq\sales Project
data_dir:  c:\Users\tareq\sales Project\Data_set
data_set:  c:\Users\tareq\sales Project\Data_set\sales Data.csv

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,NaN
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808
...,...,...,...,...,...,...,...,...,...,...
95,95,1,A,8,2011-01-07,36599.46,False,9.038889,0.786176,7.742
96,96,1,A,9,2010-02-05,16930.99,False,5.727778,0.679451,8.106
97,97,1,A,9,2010-03-05,24064.70,False,8.055556,0.693452,8.106
98,98,1,A,9,2010-04-02,25435.02,False,16.816667,0.718284,7.808
99,99,1,A,9,2010-05-07,27588.34,False,22.527778,0.748928,7.808

In [10]:
sales_data.columns

Index(['Unnamed: 0', 'store', 'type', 'department', 'date', 'weekly_sales',
       'is_holiday', 'temperature_c', 'fuel_price_usd_per_l', 'unemployment'],
      dtype='object')

In [11]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10773 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10772 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB

In [12]:
sales_data['date'].dtype

dtype('O')

In [13]:
sales_data = sales_data['date'].astype('datetime64[ns]')

In [14]:
sales_data.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10774 entries, 0 to 10773
Series name: date
Non-Null Count  Dtype
--------------  -----
10774 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 84.3 KB