In [80]:
import numpy as np
import pandas as pd
import os


os.getcwd()
root_dir = os.path.dirname(os.getcwd())
root_dir
data_dir = os.path.join(root_dir, 'Data_set')
data_dir
data_set = os.path.join(data_dir, 'sales Data.csv')
data_set

print("root_dir: ", root_dir)
print("data_dir: ", data_dir)    
print("data_set: ", data_set)


sales_data =pd.read_csv(data_set)
sales_data.head(100)

root_dir:  c:\Users\tareq\sales Project
data_dir:  c:\Users\tareq\sales Project\Data_set
data_set:  c:\Users\tareq\sales Project\Data_set\sales Data.csv

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,NaN
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808
...,...,...,...,...,...,...,...,...,...,...
95,95,1,A,8,2011-01-07,36599.46,False,9.038889,0.786176,7.742
96,96,1,A,9,2010-02-05,16930.99,False,5.727778,0.679451,8.106
97,97,1,A,9,2010-03-05,24064.70,False,8.055556,0.693452,8.106
98,98,1,A,9,2010-04-02,25435.02,False,16.816667,0.718284,7.808
99,99,1,A,9,2010-05-07,27588.34,False,22.527778,0.748928,7.808

In [81]:
sales_data['unemployment'].mean()

np.float64(8.082033791310806)

In [82]:
sales_data[sales_data.isnull().any(axis=1)]

sales_data['unemployment'] = sales_data['unemployment'].fillna(
    value=sales_data['unemployment'].mean()
)
print(sales_data)

       Unnamed: 0  store type  department        date  weekly_sales  \
0               0      1    A           1  2010-02-05      24924.50
1               1      1    A           1  2010-03-05      21827.90
2               2      1    A           1  2010-04-02      57258.43
3               3      1    A           1  2010-05-07      17413.94
4               4      1    A           1  2010-06-04      17558.09
...           ...    ...  ...         ...         ...           ...
10769       10769     39    A          99  2011-12-09        895.00
10770       10770     39    A          99  2012-02-03        350.00
10771       10771     39    A          99  2012-06-08        450.00
10772       10772     39    A          99  2012-07-13          0.06
10773       10773     39    A          99  2012-10-05        915.00

       is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
0           False       5.727778              0.679451      8.082034
1           False       8.055556              0.693452      8.106000
2           False      16.816667              0.718284      7.808000
3           False      22.527778              0.748928      7.808000
4           False      27.050000              0.714586      7.808000
...           ...            ...                   ...           ...
10769       False       9.644444              0.834256      7.716000
10770       False      15.938889              0.887619      7.244000
10771       False      27.288889              0.911922      6.989000
10772       False      25.644444              0.860145      6.623000
10773       False      22.250000              0.955511      6.228000

[10774 rows x 10 columns]

In [83]:
sales_data.head(25)

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.082034
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106000
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808000
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808000
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808000
5,5,1,A,1,2010-07-02,16333.14,False,27.172222,0.705076,7.787000
6,6,1,A,1,2010-08-06,17508.41,False,30.644444,0.693980,7.787000
7,7,1,A,1,2010-09-03,16241.78,False,27.338889,0.680772,7.787000
8,8,1,A,1,2010-10-01,20094.19,False,22.161111,0.687640,7.838000
9,9,1,A,1,2010-11-05,34238.88,False,14.855556,0.710359,7.838000
10,10,1,A,1,2010-12-03,22517.56,False,9.594444,0.715378,7.838000
11,11,1,A,1,2011-01-07,15984.24,False,9.038889,0.786176,7.742000
12,12,1,A,2,2010-02-05,50605.27,False,5.727778,0.679451,8.106000
13,13,1,A,2,2010-03-05,48397.98,False,8.055556,0.693452,8.106000
14,14,1,A,2,2010-04-02,47450.50,False,16.816667,0.718284,7.808000
15,15,1,A,2,2010-05-07,47903.01,False,22.527778,0.748928,7.808000
16,16,1,A,2,2010-06-04,48754.47,False,27.050000,0.714586,7.808000
17,17,1,A,2,2010-07-02,47077.72,False,27.172222,0.705076,7.787000
18,18,1,A,2,2010-08-06,50031.73,False,30.644444,0.693980,8.082034
19,19,1,A,2,2010-09-03,49015.05,False,27.338889,0.680772,7.787000
20,20,1,A,2,2010-10-01,45829.02,False,22.161111,0.687640,7.838000
21,21,1,A,2,2010-11-05,NaN,False,14.855556,0.710359,7.838000
22,22,1,A,2,2010-12-03,44405.02,False,9.594444,0.715378,7.838000
23,23,1,A,2,2011-01-07,43202.29,False,9.038889,0.786176,7.742000
24,24,1,A,3,2010-02-05,13740.12,False,5.727778,0.679451,8.106000

In [84]:
sales_data.isnull().sum()

Unnamed: 0              0
store                   0
type                    0
department              0
date                    0
weekly_sales            1
is_holiday              0
temperature_c           0
fuel_price_usd_per_l    0
unemployment            0
dtype: int64

In [85]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10773 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB

In [90]:

sales_data['date'] = sales_data['date'].astype('datetime64[ns]')

In [91]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  datetime64[ns]
 5   weekly_sales          10773 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10772 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(3), object(1)
memory usage: 768.2+ KB

In [88]:
sales_data.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10774 entries, 0 to 10773
Series name: date
Non-Null Count  Dtype
--------------  -----
10774 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 84.3 KB

In [92]:
sales_data = pd.read_csv(data_set)
sales_data.head(100)

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,NaN
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808
...,...,...,...,...,...,...,...,...,...,...
95,95,1,A,8,2011-01-07,36599.46,False,9.038889,0.786176,7.742
96,96,1,A,9,2010-02-05,16930.99,False,5.727778,0.679451,8.106
97,97,1,A,9,2010-03-05,24064.70,False,8.055556,0.693452,8.106
98,98,1,A,9,2010-04-02,25435.02,False,16.816667,0.718284,7.808
99,99,1,A,9,2010-05-07,27588.34,False,22.527778,0.748928,7.808