In [1]:
import numpy as np
import pandas as pd
import os


os.getcwd()
root_dir = os.path.dirname(os.getcwd())
root_dir
data_dir = os.path.join(root_dir, 'Data_set')
data_dir
data_set = os.path.join(data_dir, 'sales Data.csv')
data_set

print("root_dir: ", root_dir)
print("data_dir: ", data_dir)    
print("data_set: ", data_set)


sales_data =pd.read_csv(data_set)
sales_data.head(100)

root_dir:  c:\Users\tareq\sales Project
data_dir:  c:\Users\tareq\sales Project\Data_set
data_set:  c:\Users\tareq\sales Project\Data_set\sales Data.csv

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808
...,...,...,...,...,...,...,...,...,...,...
95,95,1,A,8,2011-01-07,36599.46,False,9.038889,0.786176,7.742
96,96,1,A,9,2010-02-05,16930.99,False,5.727778,0.679451,8.106
97,97,1,A,9,2010-03-05,24064.70,False,8.055556,0.693452,8.106
98,98,1,A,9,2010-04-02,25435.02,False,16.816667,0.718284,7.808
99,99,1,A,9,2010-05-07,27588.34,False,22.527778,0.748928,7.808

In [26]:
sales_data[['type']].value_counts()

type
A       9872
B        902
Name: count, dtype: int64

In [52]:
sales_data.groupby('type')
sales_data.head()
sales_data.drop(columns=['Unnamed: 0'], inplace=True)
sales_data.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [51]:
sale = sales_data.groupby('type')[["weekly_sales","unemployment"]].agg(['mean', 'std', 'min', 'max'])
sale.head()

      weekly_sales                                  unemployment            \
              mean           std     min        max         mean       std
type
A     23674.667242  30129.407656 -1098.0  293966.05     7.972611  0.521748
B     25696.678370  31155.867745  -798.0  232558.51     9.279323  0.335157


        min    max
type
A     3.879  8.992
B     7.170  9.765

In [53]:
sales_data.columns

Index(['store', 'type', 'department', 'date', 'weekly_sales', 'is_holiday',
       'temperature_c', 'fuel_price_usd_per_l', 'unemployment'],
      dtype='object')

In [63]:
grp_sale = sales_data.pivot_table(
    index='type', 
    values=['temperature_c','unemployment'], 
    aggfunc=['mean', 'std', 'min', 'max'],
    columns =  ['is_holiday'])
grp_sale.head(10)

                    mean                                           std  \
           temperature_c            unemployment         temperature_c
is_holiday         False      True         False   True          False
type
A              15.247873  11.165833     7.973170  7.8351      9.877466
B              21.208636  22.422222     9.280973  8.5365      8.665274

                                                      min             \
                     unemployment           temperature_c
is_holiday     True         False     True          False      True
type
A           9.727681     0.520651  0.740173     -8.366667  -5.488889
B           9.176675     0.332225  0.936916      6.350000  15.933333

                                         max
           unemployment        temperature_c            unemployment
is_holiday        False  True          False      True         False  True
type
A                 3.879  5.143     33.300000  26.277778        8.992  8.992
B                 7.170  7.874     33.827778  28.911111        9.765  9.199